<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>435367609761-17i39ih48edjesp68rms2p26dhlbfj4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435367609761-17i39ih48edjesp68rms2p26dhlbfj4i</string>
	<key>API_KEY</key>
	<string>AIzaSyBUn4zjpMIBPMNlFbio_x4TOFns3S5qUf4</string>
	<key>GCM_SENDER_ID</key>
	<string>435367609761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>i.GoThere</string>
	<key>PROJECT_ID</key>
	<string>gothere-188702</string>
	<key>STORAGE_BUCKET</key>
	<string>gothere-188702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435367609761:ios:24bb51529cadfdcd</string>
	<key>DATABASE_URL</key>
	<string>https://gothere-188702.firebaseio.com</string>
</dict>
</plist>